body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

h1{
  text-align: center;
  color: white;
  font: 30px "fantasy";
  font-style: italic;
  font-weight: bold;
  font-stretch: ultra-expanded;
}

.nav {
  display: flex;
}

.nav li{
  margin-right: 15px;
}

li {
  list-style-type: none;
}