h2{
    text-align: center;
    color: black;
}

.loginContainer{
    margin: auto;
    background:skyblue;
    padding: 16px;
    width: 50%;
    box-shadow: 2px 2px 10px grey ;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font: 15px "Arial";
}

button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
    font: 15px "Arial";
}